
/* gitlab.com/jmireles/nav/templates/cfg.css */

.cfg {
	width: 440px;
	height: 440px;
	user-select: none;
}

.cfg-btn {
	margin:4px;
}
.cfg-btn-cancel {
	background-color: #666;
	color: #fff;
	fill: #fff;
}
.cfg-btn-cancel:hover {
	background-color: #333;
	cursor: pointer;
}
.cfg-btn-confirm {
	background-color: #08f;
	color: #fff;
	fill: #fff;
}
.cfg-btn-confirm:hover {
	background-color: #048;
	cursor: pointer;
}
.cfg-btn-read {
	background-color: #0f0;
	color: #000;
	fill: #000;
}
.cfg-btn-read:hover {
	background-color: #0c0;
	cursor: pointer;
}
.cfg-btn-save-all {
	background-color: #f00;
	color: #fff;
	fill: #fff;
}
.cfg-btn-save-all:hover {
	background-color: #c00;
	cursor: pointer;
}
.cfg-btn-save-box {
	background-color: #f80;
	color: #fff;
	fill: #fff;
}
.cfg-btn-save-box:hover {
	background-color: #c40;
	cursor: pointer;
}


.cfg-c {
	display: inline-block;
	padding:0px;
	height: 30px;
}
.cfg-c > span {
	user-select: none;
	vertical-align: top;
	line-height: 30px;
	font-size:16px;
	padding: 0 6px 0 0;
}
/*.cfg-c > span {
	line-height: 22px;
}*/

table.cfg-center {
	margin: 0 auto;
}
div.cfg-center {
	text-align: center;
}

.cfg-edited {
	color: #f80;
	font-weight: bold;
}

.cfg-err {
	padding: 5px;
	color: #f00;
}

.cfg-field {
	color: #08f;
	border-bottom:2px solid transparent;
}
.cfg-field:hover {
	color: #06e;
	cursor: pointer;
}

.cfg-flex {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.cfg-flex > .cfg-nil {
	-webkit-box-flex: 1;
}

.cfg-get {
	padding:5px;
	color: #08f;
}

.cfg-number {
	user-select: none;
	vertical-align: middle;
	text-align: center;
	margin: 0px 10px;
}

.cfg-opt {
	user-select: none;
	color: #000;
	padding: 0 6px 0 6px;
	border-left: 6px solid #08f;
}
.cfg-opt-sel {
	color: #888;
	border-left: 6px solid transparent;
}
.cfg-opt-sel:hover {
	color: #000;
	border-left: 6px solid #f00;
	cursor: pointer;
}

.cfg-resp {
	background-color: transparent;
	margin:4px 4px 4px 4px;
}

.cfg-sel {
	display: inline-block;
	margin:4px;
	padding:4px;
	color: #000;
	border-bottom: 4px solid #08f;
}

.cfg-tabh-sel {
	background-color: transparent;
	color: #08f;
	fill: #08f;
	border-bottom: 4px solid #08f;
}

.cfg-tabh-unsel {
	background-color: transparent;
	color: #aaa;
	fill: #aaa;
	border-bottom: 4px solid transparent;
}
.cfg-tabh-unsel > * {
	pointer-events: none;
}

.cfg-tabh-unsel:hover {
	background-color: #eee;
	color: #888;
	fill: #888;
	border-bottom: 4px solid #888;
	cursor: pointer;
}

.cfg-units {
	color: #888;	
	min-height:20px;
	border-bottom:2px solid transparent;
	margin-left: 5px;
}
.cfg-unsel {
	display: inline-block;
	margin:4px;
	padding:4px;
	color: #888;
	border-bottom: 4px solid transparent;
}
.cfg-unsel:hover {
	border-bottom: 4px solid #f80;
	cursor: pointer;
}

.cfg-value {
	min-height:20px;
	min-width:50px;
	text-align: right;
	border-bottom:2px solid #ccc;
}
.cfg-value:hover {
	cursor: pointer;
	border-bottom:2px solid #08f;
}
