
/* gitlab.com/jmireles/nav/templates/nav.css */

* { font-family: sans-serif; }
html, body { margin:0; padding:0; height:100%;}
.box { display:flex; flex-flow:column; height:100%;}
.box .row.head { flex: 0 1 auto; }
.box .row.body { flex: 1 1 auto; }

.ok { background-color:#4f4; color:#080; padding:4px; }
.ok:hover { cursor:pointer; }

.err { background-color:#f44; color:#fff; padding:4px; }
.err:hover { cursor:pointer; }

.btn { display: inline-block; margin:4px 0 4px 4px; padding:4px; user-select: none; }

.on { background-color:#f80; color:#fff; }
.on > svg > path { fill:#06f; }

.off { background-color:#fff; color:#abc; }
.off:hover { background-color: #def; cursor: pointer; }
.off > svg > path { fill:#789; }

.stall { fill:#0f0; stroke:#080; stroke-width:3px; transform: scale(0.5)}

.conn { position:fixed; bottom:10px; right:10px; padding:0px;}

.go:hover, .req:hover {
	cursor: pointer;
	filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.go-stall {
	fill:#8888;
	stroke:#888;
	stroke-width:2; 
}

text { user-select: none; }

.popup {
	position: fixed;
	padding: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.error {
	background-color: #f00;
	border: 2px solid #800;
	color: #fff;
}
.error:hover {
	background-color: #c00;
	cursor: pointer;
}

.help {
	background-color: #ccc;
	border: 2px solid #444;
	color: #000;
}

.hidden {
	display:none;
}
.shown {
	display:block;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.fixed-left {
	position: fixed;
	left: 0px;
	height: 100%;
	overflow: hidden;
}

.prefs {
	background-color:#444;
	color:#888;
	fill:#fff;
	padding:5px;
	height:100%;
}
.prefs svg:hover { 
	fill:#888; transition: all ease 0.3s; 
}

